.user-avatar-and-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  &-content {
    &_md {
      height: 35px;
      width: 35px;
    }
    &_lg {
      height: 70px;
      width: 70px;
    }
  }

  &-img {
    &_md {
      height: 25px;
    }
    &_lg {
      height: 50px;
      width: 50px;
    }
  }
}
