.scan-patient-bracelet {
  min-width: 10em;
  & > * {
    margin-left: 0 !important;
  }

  &_only-icon {
    min-width: auto;
  }

  &__input {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
