.scan-patient-bracelet {
  min-width: 10em;

  &_only-icon {
    min-width: auto;

    & > * {
      margin-left: 0 !important;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
