.template-result {
  display: flex;
  flex-direction: column;
  background-color: var(--el-card-bg-color);

  .el-card {
    border: none;
  }
}

@media print {
  .template-result {
    gap: 0;
  }
}
