.create-or-edit-appointment-modal {
  width: 90%;
  min-width: 1000px;
  max-width: 1400px;

  .el-card {
    border: none;
  }

  &-form {
    display: grid;
    grid-template-columns: 3.5fr 7fr;
    grid-template-rows: auto auto auto;
    gap: 20px;

    &__patient-part {
      grid-row: 1/4;
    }
    &__add-part {
      height: max-content;

      .el-card__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    &__table-part {
      grid-row: 2/3;
    }

    &__table {
      border-top: 1px solid var(--el-border-color);
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      width: 100%;

      & > * {
        min-width: 8em;
      }
    }
  }

  .el-form-item__content,
  .el-form-item__content > * {
    width: 100% !important;
  }
}
