.create-or-edit-appointment-modal {
  width: 1000px;

  .el-card {
    border: none;
    &__body {
      display: flex; // чтобы работали order: number инлйн стили
      flex-direction: column;
    }
  }

  &-form {
    display: flex;
    gap: 20px;

    &__part {
      flex: 1;
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      width: 100%;

      & > * {
        min-width: 8em;
      }
    }
  }

  .el-form-item__content,
  .el-form-item__content > * {
    width: 100% !important;
  }
}
