.v-patients-content-card__item{
  &__children{
    margin-left: 15px !important;
    display: block;
    &__button{
      margin-bottom: 10px;
      width: 97px;
      height: 34px;
      background: #4cb1a6;
      border-radius: 40px;
      color: white;
    }
    &__parent{
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      &-label{
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.75px;
        color: #404040;
      }
      .ui-icon__content {
        margin-left: 15px;
        margin-top: -2px;
      }
    }
    &__gender{
      margin-top: 8px;
      &-label{
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.75px;
        color: #404040;
      }
    }
    &__actions {
      display: block;
      height: 200px;
      border-left: none;
      justify-content: center;
      margin: auto;
      align-items: center;
      text-align: center;
      margin-top: 20px;
      &__edit {
        align-items: center;
        width: 314px;
        gap: 10px;
        height: 62px;
        background: white;
        border: 1px solid #54c2b6;
        border-radius: 12px;
        margin-top: 10px;
        cursor: pointer;
        justify-content: center;
        font-size: 18px;
      }
      &__delete {
        line-height: 36px;
        text-align: center;
        color: #ff6c63;
        background: white;
        border: none;
        margin-top: 10px;
        cursor: pointer;
        font-size: 18px;
      }
      &__create {
        padding: 13px 88px;
        gap: 10px;
        width: 314px;
        cursor: pointer;
        height: 62px;
        background: #54C2B6;
        border-radius: 12px;
        color: white;
        font-size: 18px;
      }
      &__create .ui-icon__content {
        margin-bottom: -4px;
      }
    }
  }
}
.last__item {
  border-right: none!important;
}