.ambulatory-cards {
  gap: 20px;
  display: grid;
  .ambulatory-patient-card {
    display: flex;
    & > * {
      width: 100%;
      justify-content: space-between;
      display: flex;
    }

    &-info {
      display: block;

      &__title {
        color: #b2b6c6;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        margin-bottom: -5px;
      }

      &__description {
        color: #535a70;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        margin-top: 20px;
      }
    }

    &-info_avatar {
      display: flex;
      gap: 20px;
    }
  }
  .ambulatory-card {
    & > * {
      width: 100%;
      max-width: 800px;
    }
  }
}
