.ambulatory-card {
  & > * {
    width: 100%;
    max-width: 800px;
  }

  &-actions {
    display: flex;
    gap: 20px;
  }
}

@media print {
  .ambulatory-card {
    & > * {
      max-width: 100%;
    }

    .el-card__body {
      max-width: 100% !important;
    }
    .ambulatory-cards__actions {
      display: none;
    }
  }
  .ambulatory-treatments-table {
    display: none;
  }
}
