.layout-content-notification {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    border: 1px solid #e5e7ec;
    border-radius: 50%;
    cursor: pointer;
  }
}
