.create-patient-drawer {
  &-form {
    display: flex;
    flex-direction: column;

    .el-form-item__content,
    .el-form-item__content > * {
      width: 100%;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
