.create-patient-drawer {
  &-form {
    display: flex;
    flex-direction: column;

    .el-form-item__content,
    .el-form-item__content > * {
      width: 100%;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &-patient {
    display: flex;
    align-items: baseline;
    gap: 10px;

    &__name {
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}
