.layout-default {
  --padding-x: 15px;
  --padding-y: 12px;
  --padding-medium: var(--padding-y) var(--padding-x);

  &__el-header {
    padding: 0;
    height: auto;
  }

  &__menu {
    padding: var(--padding-y) 0 var(--padding-y) var(--padding-x);
    background-color: var(--bg-color);
  }

  &__main {
    height: 100vh;
    overflow-y: auto;
    background: #f6f9f9;

    &_fix-height {
      overflow-y: hidden;
    }
  }
  &__header {
    padding: var(--padding-medium);
    background-color: var(--bg-color);
    margin: 15px 15px 0px 15px;
    border-radius: 8px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-medium);
    padding-bottom: calc(var(--padding-y) * 2);
    background-color: var(--bg-container-color);

    & > * {
      @include container;
    }
  }
}
