.v-patient-default {
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__title {
    font-weight: bold;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    &-empty {
      height: 150px;
    }
  }
}
