.ui-user-avatar-info {
  display: flex;
  align-items: center;
  gap: 10px;

  &__avatar {
  }
  &-content {
    display: flex;
    flex-direction: column;
    min-width: 4em;

    &__name {
      &_bold {
        font-weight: bold;
      }
    }
    &__secondary {
      color: var(--text-secondary-color);
      font-size: 0.85em;
    }
  }

  &__tag {
    margin-left: 10px;
  }
}
