.ui-user-avatar-info {
  display: flex;
  align-items: center;
  gap: 15px;

  &__avatar {
  }
  &-content {
    display: flex;
    flex-direction: column;
    min-width: 4em;

    &__name {
      &_bold {
        font-weight: 500;
        text-align: right;
      }
    }
    &__secondary {
      color: #90A4AE;
      font-size: 0.85em;
      text-align: left;
    }
  }

  &__tag {
    margin-left: 10px;
  }
}
