.create-or-pay-invoice-modal {
  &-content {
    display: flex;
    gap: 24px;

    & > * {
      flex: 1;
    }
  }
  &-part {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-header {
      display: flex;
      align-items: center;
      gap: 10px;

      &__title {
        font-weight: bold;
      }
    }

    &-search,
    &-content {
      background-color: var(--el-dialog-header-bg-color);
      border-radius: var(--border-radius-medium);
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 15px;

      .el-form-item:last-child {
        margin-bottom: 0;
      }

      .el-form-item {
        display: flex;
        justify-content: space-between;

        &__content {
          display: flex;
          justify-content: flex-end;
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }
  &-notes-part {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .el-form-item {
      &__label {
        justify-content: flex-start;
      }
    }
  }

  &__services-list {
    flex: 1;
    min-height: 200px;
  }

  &__discount-part {
    .el-input {
      max-width: 100px;
    }
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}
