.patients-search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  &__form {
    flex: 1;
  }
  &__popover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateY(calc(100% + 10px));
  }

  .el-input__wrapper {
    background-color: white;
  }
}
