.patients-search {
  position: relative;

  &__form {
    .el-input {
      border-radius: var(--border-radius-medium) !important;

    }

  }
  .el-input--large .el-input__wrapper{
    border: 0.5px solid #E5E7EC!important;
  }
  .el-input__wrapper{
    background-color: white;
  }
  &__popover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateY(calc(100% + 10px));
  }
}
