.patients-search {
  position: relative;

  &__form {
    width: 60%;
    .el-input {
      border-radius: var(--border-radius-medium) !important;
    }
  }
  .el-input--large .el-input__wrapper {
    border: 1px solid #e5e7ec !important;
    box-shadow: none !important;
    width: 100%;
  }
  .el-input__wrapper {
    background-color: white;
  }
  &__popover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateY(calc(100% + 10px));
  }
  &-scan-and-header{
    display: flex;
  }
}

.layout-content-scan {
  border: 1px solid #40ccbd;
  padding: 10px 10px 5px 5px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #40CCBD;
    margin-left: 10px;
  }
}
