.patients-search-select-data-block {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .el-form-item {
    display: flex;
    justify-content: space-between;

    &__content {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      font-weight: bold;
    }
  }
}
