.layout-content-scan {
  border: 1px solid #40ccbd;
  padding: 10px 10px 5px 5px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #40CCBD;
    margin-left: 10px;
  }
}
