.doctors-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__search {
    width: 250px;
  }
  &__scan{
    height: 40px;
  }
  &-left-content{
    margin-right: auto;
    display: flex;
    gap: 20px;
  }
  &-dropdown{
    display: flex;
    gap: 15px;
  }
  &__appointment-btn {
    margin-right: auto;
  }
  &__dropdown {
    margin-left: auto;
  }
}
