.doctors-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__search {
    width: 500px;
  }
  &-left-content {
    display: flex;
    gap: 20px;
    margin-right: auto;
  }
  &-dropdown {
    display: flex;
    gap: 15px;
  }
}
