.v-app-treat-ins-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-header {
    &-info {
      display: flex;
      align-items: baseline;
    }

    .el-button.is-text {
      padding: 0 12px;
      font-size: 1.1em;
    }
  }
}
