.treatments-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  &__scrollbar {
    height: auto;
  }
  &__pagination {
    align-self: flex-end;
  }
}

.treatments-table {
  height: 100%;
  min-width: calc(var(--container-width) / 1.6);

  tr:hover {
    cursor: pointer;
  }
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
  }

  &__name-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-actions {
    display: flex;
    gap: 6px;
    .ui-icon__content{
      margin-top: 2px;
    }
  }
}
