.ui-models-autocomplete-search {
  width: 100%;

  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 10px;

    &__text {
      text-align: center;
    }

    &__create {
      margin-left: auto;
    }
  }
}
