.patient-row {
  &:hover {
    background-color: var(--bg-secondary-color);
    cursor: pointer;
  }

  td {
    padding: 14px 12px;
  }
  &_has-child {
    td {
      padding-bottom: 4px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__childrens {
    padding-left: 25px;
    table {
      width: 100%;
    }
  }
}
