.v-patients {
  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;

      &-actions {
        display: flex;
        margin-left: auto;
        gap: 6px;
      }
      &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #404040;
      }
    }

    &__table {
      height: 400px;
    }
  }
}
.v-patients-content{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.v-patients-content-card {
  background: #ffffff;
  border-radius: 16px;
  width: 100%;
  height: 250px;
  margin: auto;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 20px 0px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  &__item {
    display: flex;
    height: 200px;
    position: relative;
    border-right: 2px solid #54c2b6;
    align-items: center;
    padding-left: 10px;
    &__divider {
      margin-left: 50px;
      height: 100%;
    }
    &__last {
      border-right: none;
      display: flex;
      height: 200px;
      justify-content: center;
      margin: auto;
      align-items: center;
      text-align: center;
      padding-left: 10px;
    }
  }
  &_info {
    display: block;
    padding-left: 20px;
    margin-left: 10px;
    &__button {
      padding: 8px 16px;
      gap: 4px;
      width: 97px;
      height: 34px;
      padding-left: 20px;
      background: #54c2b6;
      border-radius: 40px;
      color: white;
    }
    &__strong {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #404040;
      margin-top: 10px;
    }
    &__numbers {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #404040;
      margin-top: 5px;
    }

    &_edit {
      align-items: center;
      width: 320px;
      gap: 10px;
      height: 62px;
      background: white;
      border: 1px solid #54c2b6;
      border-radius: 12px;
      margin-top: 10px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }
    &_delete {
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      color: #ff6c63;
      background: white;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
.v-patients-content-description__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #404040;
}
.v-patients-content-card__info__icon {
  position: absolute;
  right: 50px;
  color: #BA0B0B;
  cursor: pointer;
}
.avatar{
  height: 110px;
  width: 110px;
}
.v-patients-appointments-content {
  margin-right: 0;
  margin-left: 0;
  &_info{
    display: block;
  }
  &_card {
    background: white;
    width: 100%;
    height: 380px;
    border-radius: 16px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &__divider{
      border-bottom: 2px solid #54c2b6;
      margin-top: 25px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &__col {
    margin-top: 30px;
  }
  &_profile {
    padding-left: 20px;
    display: flex;
    &_info {
      margin-left: 30px;
    }
    &__danger-button {
      gap: 4px;
      color: white;
      width: 80px;
      height: 30px;
      background: #db6868;
      border-radius: 40px;
    }
    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #404040;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &__text {
      margin-top: 2px;
      margin-bottom: 4px;
    }
  }
}
