.event-calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--bg-color);
  height: 100%;

  &__type-select {
    width: 10em;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &-picker,
    &-actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-picker {
      gap: 20px;
    }
  }

  &__content {
    display: flex;
    flex: 1;

    & > * {
      height: 100%;
    }
  }

  &-hidden-picker-label {
    .el-date-editor {
      width: 0px !important;
      height: 0px !important;
      overflow: hidden;
    }

    &__title {
      font-weight: bold;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
