.v-login {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;

  &__image {
    flex: 1;
    max-width: 48%;
    height: auto;

    @include tablet {
      display: none;
    }
  }
  &__content {
    flex: 1;
    max-width: 500px;
    min-width: 300px;
  }
}
