.v-patients-records-content__table {
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
.patients-records-table-status{
  margin-left: 5px;
}
.success-status{
  background: #73D451;
  border-radius: 40px;
  padding: 2px 16px 2px 8px;
  gap: 4px;
  width: 120px;
  height: 28px;
}
.canceled-status{
  background: #BA0B0B;
  border-radius: 40px;
  padding: 2px 8px;
  gap: 4px;
  width: 77px;
  height: 28px;
}
.provided-status{
  background: #FFBA34;
  border-radius: 40px;
  padding: 2px 8px;
  gap: 4px;
  width: 85px;
  height: 28px;
}

.v-patients-records-content-header-filters__field2{
  margin-left: 20px;
}
.v-patients-records {
  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;

      &-actions {
        display: flex;
        margin-left: auto;
        gap: 6px;
      }
    }

    &__table {
      height: 400px;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
    }
  }
}
