.patients-records-table-status {
  margin-left: 5px;
}

.v-patients-records-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;

    &__filters {
      display: flex;
      gap: 10px;
    }
    &__actions {
      display: flex;
      gap: 10px;
    }
  }

  &__table {
    height: 400px;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
}
