html,
body {
  --_el-color-primay: #409eff;
  --el-color-primary: var(--primary-color);
}
.el-input {
  --el-input-bg-color: var(--bg-inputs-color);
}
.el-button--primary {
  &.is-plain {
    --el-button-bg-color: inherit;
    --el-button-border-color: var(--primary-color);
  }
  &.is-disabled {
    --el-button-disabled-bg-color: var(--primary-disabled-color);
    --el-button-disabled-border-color: var(--primary-disabled-color);
  }

  &:hover {
    color: var(--el-button-hover-text-color);
    border-color: var(--el-button-hover-border-color);
    background-color: var(--el-button-hover-bg-color);
    outline: 0;
  }
  &:focus {
    color: var(--el-button-hover-text-color);
    border-color: var(--el-button-hover-border-color);
    background-color: var(--el-button-hover-bg-color);
    outline: 0;
  }
}

.el-button + .el-button {
  margin-left: 0;
  border-radius: var(--el-border-radius);
}

.el-table {
  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header-wrapper {
    overflow: visible;
  }
}

.el-dialog {
  min-width: 480px;
  border-radius: 12px;

  &__header {
    width: 100%;
    margin-right: 0;
    border-radius: 12px 12px 0px 0px;
  }
  .el-form-item__content,
  .el-form-item__content > * {
    width: 100%;
  }
  .el-form-item__label {
    color: var(--lable-color);
  }
  .el-input {
    --el-input-bg-color: var(--bg-color) !important;
  }
  &__body,
  &__footer {
    background-color: var(--bg-container-color);
  }
}

.el-overlay-dialog {
  display: flex;
  justify-content: center;
  align-items: center;

  .el-dialog {
    margin: 0;
  }
}
.el-drawer {
  min-width: 320px !important;
}

.el-tag {
  --el-color-primary: var(--_el-color-primay);
}

.el-page-header {
  &__left {
    align-items: center;
  }
}
