html,
body {
  --_el-color-primay: #409eff;
  --el-color-primary: var(--primary-color);
}
.el-input {
  --el-input-bg-color: var(--bg-inputs-color);
}
.el-button--primary {
  &.is-plain {
    --el-button-bg-color: var(--secondary-color);
    --el-button-border-color: var(--secondary-color);
  }
  &.is-disabled {
    --el-button-disabled-bg-color: var(--primary-disabled-color);
    --el-button-disabled-border-color: var(--primary-disabled-color);
  }
  &:hover {
    color: var(--el-button-hover-text-color);
    border-color: var(--el-button-hover-border-color);
    background-color: var(--el-button-hover-bg-color);
    outline: 0;
  }
  &:focus {
    color: var(--el-button-hover-text-color);
    border-color: var(--el-button-hover-border-color);
    background-color: var(--el-button-hover-bg-color);
    outline: 0;
  }
}

.el-button + .el-button {
  margin-left: 0;
}

.el-table {
  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header-wrapper {
    overflow: visible;
  }
}

.el-overlay-dialog {
  display: flex;
  justify-content: center;
  align-items: center;

  .el-dialog {
    margin: 0;
  }
}
.el-drawer {
  min-width: 320px !important;
}

.el-tag {
  --el-color-primary: var(--_el-color-primay);
}

.el-page-header {
  &__left {
    align-items: center;
  }
}
