.printer__title {
  display: none;
  text-align: center;
  font-size: 1.9em;
  font-weight: 800;
  visibility: visible !important;
}

@media print {
  *,
  *::after,
  *::before {
    visibility: hidden !important;
  }

  .printer__title {
    display: block;
  }

  .el-input__prefix {
    display: none !important;
  }
  .el-input {
    --el-input-bg-color: transparent;
  }
  .el-form-item__label {
    font-weight: 700;
  }
  .el-input__wrapper {
    box-shadow: none;
  }
}
