html,
body {
  --container-width: 1700px;

  --primary-color: #40ccbd;
  --primary-hover-color: #89d0c7;
  --primary-dark-color: #357b73;
  --primary-disabled-color: #78dbd0;
  --secondary-color: #e5f6f4;

  --text-color: #404d61;
  --text-secondary-color: #6e7191;
  --text-light-color: #90a4ae;

  --lable-color: #b2b6c6;

  --bg-color: #ffffff;
  --bg-secondary-color: #fcfcfc;
  --bg-container-color: #f6f9f9;
  --bg-inputs-color: var(--bg-color);

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  --dialog-body-content-bg-color: #ffffff;
  --dialog-body-content-padding: 20px 20px 20px 20px;
  --dialog-body-content-border-radius: 8px;
  --dialog-body-content-box-shadow: 0px 0px 20px rgba(188, 216, 213, 0.2);

  --button-primary-gradiend-bg: linear-gradient(
    87.24deg,
    #40ccbd -1.13%,
    rgba(65, 210, 195, 0.59) 118.25%
  );

  --el-button-hover-bg-color: linear-gradient(
    87.24deg,
    #63c4b9 -1.13%,
    rgba(74, 168, 158, 0.59) 118.25%
  );
}
