html,
body {
  --container-width: 1200px;

  --primary-color: #54c2b6;
  --primary-hover-color: #89d0c7;
  --secondary-color: #e5f6f4;

  --bg-color: #ffffff;
  --bg-secondary-color: #fcfcfc;
  --bg-container-color: #faffff;
  --bg-inputs-color: #f3f7f6;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
}
