html,
body {
  --container-width: 1700px;

  --primary-color: #54c2b6;
  --primary-hover-color: #89d0c7;
  --primary-dark-color: #357b73;
  --primary-disabled-color: #78dbd0;
  --secondary-color: #e5f6f4;

  --text-color: #404d61;
  --text-secondary-color: #6e7191;

  --bg-color: #ffffff;
  --bg-secondary-color: #fcfcfc;
  --bg-container-color: #f4fafa;
  --bg-inputs-color: #f3f7f6;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  --dialog-body-content-bg-color: #ffffff;
  --dialog-body-content-padding: 20px 20px 20px 20px;
}
