.create-patient-drawer {
  &-form {
    display: flex;
    flex-direction: column;

    .el-form-item__content,
    .el-input {
      width: 100%;
    }
    &__submit {
      margin-left: auto;
    }
  }
}
