.default-inspection-card {
  &-form {
    & > * {
      max-width: 500px;
    }

    &-actions {
      display: flex;
      gap: 10px;
    }
  }
}
@media print {
  .default-inspection-card {
    &-form {
      & > * {
        max-width: 100%;
      }
      &-actions {
        display: none !important;
      }
    }
  }
}
