.v-cash {
  &-content {
    &-header {
      .layout-content-header-main {
        display: flex;
        gap: 10px;

        & > * {
          flex: 1;
        }
      }
    }

    &__statistic {
      display: flex;
      gap: 20px;

      & > * {
        flex: 1;
      }
    }
  }
}
