.patients-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.patients-table {
  tr:hover {
    cursor: pointer;
  }

  &__name-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-actions {
    display: flex;
    gap: 6px;
  }
}

.patients-table-pagination {
  align-self: flex-end;
}
